# This is a basic workflow to help you get started with Actions

name: "Pre flight tests"

# Controls when the workflow will run
on: 

  # Execute on Push
  push:

   # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  
  verify:
  
    runs-on: ubuntu-latest
    env: 
      GOPATH: /home/runner/work
      KUBERNETES_SOURCE_ROOT: $GOPATH/src/k8s.io/kubernetes
      KUBERNETES_SOURCE_HOME: $GOPATH/src/k8s.io/kubernetes/kubernetes
  
    steps:
  
      - uses: actions/checkout@v2
      
      - uses: actions/setup-go@v2
        with:
          stable: 'true'
          go-version: '1.16.5'
          
      #- name: Make
      # run: make
      
      # Dump the env
      - run: env
      
      - run: mkdir -p /home/runner/work/src/k8s.io/ && ln -s  /home/runner/work/kubernetes/kubernetes/ /home/runner/work/src/k8s.io/
      
      - run: ls -all /home/runner/work/src/k8s.io/kubernetes
            
      #- name: Verify spelling
      #  run: cd /home/runner/work/src/k8s.io/kubernetes/ && hack/verify-staticcheck.sh

      - name: Verify vendor licenses
        run: cd /home/runner/work/src/k8s.io/kubernetes/ && hack/verify-vendor-licenses.sh

      - name: Verify type checks
        run: cd /home/runner/work/src/k8s.io/kubernetes/ && hack/verify-typecheck-dockerless.sh
